body{
    background-color: rgb(30, 30, 34)
}
* {
    margin: 0;
    padding : 0;
}

.btn {
    border-radius: 0;
}
.nav-tabs .nav-link {
    border-radius: 0
}

.nav-pills .nav-link {
    border-radius: 0
}